header,
main,
footer {
    background-color: rgb(145, 145, 145);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

body {
    width: 100%;
	max-width: 1024px;
	margin: auto;
	background-color: rgb(63, 63, 63);
    font-size: 130%;
    
}

h2 li {
    text-align: center;
}

img {
    width:400px;
    height:400px;
    display: block;
    margin: 0 auto;
}

.imgp {
    margin: auto;

}

#header {
    text-align: center;
}
